<div class='main-content'>
  <div class='basic'>
    <div class="card">
      <h1 class="card-header">
        Tasks
      </h1>
      <div class="card-body">
        <% if notice %>
            <div class='alert alert-info'>
            <span style="font-weight: normal">
              <%= notice %>
            </span>
            </div>
        <% end %>

        <div class='btn btn-sm button'>
          <%= link_to 'New Task', new_task_path, :class => 'btn btn-sm btn-outline-success' %>
        </div>
        <% @tasks.each do |task| %>
            <div class='list'>

              <div class="content-left">
                <h5 class="title">
                  <%= task.title %>
                </h5>

                <p class="description">
                  <%= task.description %>
                </p>

                <p class="time">
                  (<b>Deadline:</b> <%= distance_of_time_in_words_to_now(task.time) %>)
                  <%= task.time.strftime('%H:%M:%S %d.%m.%Y') %>
                </p>

              </div>

              <div class="content-right">
                <div class="btn btn-sm">
                  <%= link_to 'Done', task, method: :delete,
                              data: {confirm: 'Sure that you dont have to do this task?'},
                              :class => 'btn btn-sm btn-outline-danger' %>
                </div>
              </div>

            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
