<div class='main-content'>
  <div class='basic'>
    <p id='notice'><%= notice %></p>

    <h1>Tasks</h1>
    <div class='button'>
      <%= link_to 'New Task', new_task_path %>
    </div>
    <% @tasks.each do |task| %>
      <div class='list'>
        <table>
          <tbody>
            <tr><td><%= task.title %></td><td rowspan='2' class='right-link'><%= link_to 'Remove/Done', task, method: :delete, data: { confirm: 'Sure that you dont have to do this task?' } %></td></tr>
            <tr><td class='description'><%= task.description %></td></tr>
          </tbody>
        </table>
      </div>
    <% end %>
    <br>
  </div>
</div>
